body {
    background-color: tan;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: 2fr 1fr 2fr ;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
}
.button_center {
    display: flex;
    align-items: center;
}

@media (min-width: 600px) {
    body{display: flex;}
}